/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styling */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background-color:whitesmoke;
  color: black;
  padding: 20px;
    text-align:center;
    font-family:algerian;
}

header h1 {  
  margin: 0;
  color:firebrick;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

.about {
  margin-bottom: 20px; 
}

body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}
.about-section {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for content */
    border-radius: 10px;
    margin: 20px;         
}
footer {
  background-color:white;
  color:firebrick;
  text-align: center;
  padding: 10px 0;
}
p{
  color:rgb(12, 117, 117);
  text-align: center;
  padding: 10px 0;
  font-family: Arial, Helvetica, sans-serif;
}
span{
color:rgb(15, 32, 189);
font-style:bold;
font-size:14px;
}
h2{
  color:firebrick;
}
