*{ padding:0;
    margin:0;
    color:black;}
    #navbar{ height:100px;
    background-color: skyblue;
    border-top: black;
     }
    button{background-color: #f08804;}
    #logo{ color: #f08804;
    font-size:25px;
     text-align: left; }
    a{ margin-right: 90px;
    text-decoration: none;}
    #one{ color: black;}
     .contentbox{height: 100px;
             width:100px;
             border: 2px solid black;
            displAY:inline-block; }
            footer{ color:white;
            background-color: black;
        text-align: center;}
        #content{ height: 600px;}
        #first{ background-color: #b6a2c7;
                height: 200px;
            text-align: center;}
            h1{text-transform: uppercase;
                position: fixed;
        }
        H2{ text-transform:uppercase;
        text-align: RIGHT;}
            