body {
    font-family: 'Arial', sans-serif;
  
    margin: 0;
    padding: 0;
}

header {
    background-color: #d6e1df;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}
.navbar.a.hover{
    background-color: rgb(35, 104, 139);
        border-radius: 4px;
        color: white;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
a{font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: 600;
}